/* src/components/RatingStars/RatingStars.module.css */

.rating {
    display: flex;
    align-items: center;
    color: #ffc107; /* Màu vàng cho sao */
    font-size: 1em; /* Kích thước mặc định cho sao */
}

.smallRating {
    font-size: 0.9em; /* Kích thước nhỏ hơn cho card hoặc nơi khác cần */
}

.stars {
    display: flex;
    align-items: center;
    margin-right: 5px; /* Khoảng cách giữa sao và số lượt */
}

.starIcon {
    margin-right: 1px; /* Khoảng cách giữa các icon sao */
}

.reviewCount {
    font-size: 0.9em; /* Kích thước chữ số lượt đánh giá */
    color: #555; /* Màu chữ số lượt đánh giá */
    margin-left: 0; /* reviewCountLink mới có margin left */
}