

.rating {
    display: flex;
    align-items: center;
    color: #ffc107; 
    font-size: 1em; 
}

.smallRating {
    font-size: 0.9em; 
}

.stars {
    display: flex;
    align-items: center;
    margin-right: 5px; 
}

.starIcon {
    margin-right: 1px; 
}

.reviewCount {
    font-size: 0.9em; 
    color: #555; 
    margin-left: 0; 
}