.phone-input-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  
  .phone-form {
    border: 2px solid red; 
    padding: 30px 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .phone-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .phone-form input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .phone-form button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: red;
    border: 2px solid red; 
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 100px;
  }
  
  .phone-form button:hover {
    background-color: red;
    color: #fff;
  }
  
  @media (max-width: 480px) {
    .phone-form {
      padding: 20px 15px;
      height: auto;
    }
  
    .phone-form h2 {
      font-size: 18px;
    }
  
    .phone-form input,
    .phone-form button {
      font-size: 14px;
    }
  }
