.nav-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}

.nav-container .navbar {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 10px;
    width: 100%;
}

.nav-brand {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.nav-brand > p {
    margin: auto;
    text-decoration: none;
}

.nav-brand:hover {
    color: white;
    text-decoration: none;
}

.nav-logo {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    position: relative;
}

.nav-logo img {
    height: 64px;
}

.nav-container .navbar .header-item {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 42px;
    padding: 3px 5px;
    position: relative;
    text-decoration: none !important;
}

.nav-container .navbar .header-item .box-icon {
    color: #fff;
    margin-right: 5px;
}

.nav-container .navbar .header-item .box-content {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
}
.nav-container .navbar .header-item .box-content p {
    margin: auto;
}

.nav-container .navbar .header-item.btn-menu,
.nav-container .navbar .header-item:hover,
.nav-container .navbar .header-item.about-member {
    background: hsla(0, 0%, 100%, 0.2);
}

.nav-container .navbar .header-item.btn-menu .box-icon {
    align-items: center;
    display: flex;
}

.nav-container .navbar .header-item.btn-menu .box-content {
    line-height: 1;
    width: 60px;
}

.box-search {
    float: left;
    margin: 0 10px 0 0;
    width: 300px;
}

.box-search form {
    box-sizing: border-box;
    position: relative;
}

.box-search form .group-input {
    background-color: #fff;
    border-radius: 10px;
    display: flex !important;
}

.box-search form .group-input .input-btn button {
    background-color: #fff;
    border: 0;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    color: #707070;
    height: 34px;
    padding-right: 0 !important;
}

.box-search form .group-input .input-btn button svg {
    font-size: 18px;
}

.box-search form .group-input .input {
    border: 0;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    height: 34px;
    outline: none;
    padding: 0.5rem 2rem 0.5rem 0.6rem;
    width: 100%;
}

.box-search form .group-input #close-search-btn {
    cursor: pointer;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 31;
    font-style: inherit;
}

.nav-container .navbar .header-item.btn-menu .box-content .title {
    line-height: 1;
    width: 60px;
}

.my-icon {
    position: relative;
    top: 2px;
}

.fa-h-24px {
    height: 24px;
}

.nav-container .navbar .header-item .box-content #items-in-cart {
    align-items: center;
    bottom: 15%;
    color: #d70018;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    justify-content: center;
    left: 8%;
    position: absolute;
    width: 20px;
}

.nav-container .navbar .login-btn {
    min-width: 60px;
}

.nav-container .navbar .header-item.about-member {
    flex-flow: column;
    min-width: 70px;
}

.nav-container .navbar .header-item.about-member .box-icon {
    height: 20px;
    margin: auto auto 1px;
}

.avatar {
    height: 20px;
}

.menu-container {
    position: absolute;
    top: 70px;
    left: 10px;
    max-width: 1200px;
    width: 100%;
    z-index: 31;
}

@media only screen and (max-width: 1200px) {
    .nav-container {
        max-width: 1200px !important;
        padding: 0 10px;
        width: 100% !important;
    }
}

@media screen and (max-width: 1024px) {
    .box-search {
        width: 250px;
    }

    .navbar .header-item.about-delivery-tracking {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .nav-container {
        height: 100%;
    }

    .nav-brand p {
        display: none;
    }

    .nav-container .navbar .header-item:not(.about-cart) {
        display: none;
    }

    .nav-container .navbar .box-search {
        width: 400px;
        margin: 0 auto;
        padding-left: 40px;
    }

    .nav-container .navbar .about-cart {
        background: hsla(0, 0%, 100%, 0.2);
        flex-flow: column;
        order: 2;
        width: 15%;
        margin-right: 20px;
    }

    .nav-container .navbar .about-cart .box-icon {
        margin: 0;
    }

    .nav-container .navbar .about-cart .box-content {
        font-size: 9px;
    }

    .nav-container .navbar .about-cart .box-content .title {
        word-break: normal;
        line-height: 1;
    }

    .nav-container .navbar .about-cart .box-content .title br {
        display: none;
    }

    .nav-container .navbar .about-cart .box-content #items-in-cart {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
