
.user-profile-page-container {
    display: flex;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.user-profile-page-content {
    flex: 1;
    padding: 20px;
    margin-left: 20px; 
    margin-right: 50px; 
}
@media (max-width: 768px) {
    .user-profile-page-container {
       
          flex-direction: column; 
    }
      .user-profile-page-content{
        margin-left: 0;
          width: 80%;
        }
}