
.user-profile-page-container {
    display: flex;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user-profile-content {
    flex: 1;
    padding: 20px;
   
}

@media (max-width: 768px) {
    .user-profile-page-container {
        flex-direction: column; 
    }
}