.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  text-align: center;
  text-decoration: none; /* Cho trường hợp dùng thẻ <a> làm button */
}

/* Các biến thể của Button */
.primary {
  background-color: #36679b;
  color: white;
}

.primary:hover {
  background-color: rgb(0, 68, 141);
}

.secondary {
  background-color: #d50404;
  color: white;
}

.secondary:hover {
  background-color: #ac0000;
}

.danger {
  background-color: #dc3545;
  color: white;
}

.danger:hover {
  background-color: #c82333;
}

/* Style khi bị disable */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
